.mentions {
  padding: 120px 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  background: linear-gradient(
    120deg,
    #f1faee,
    #e9f5ec,
    #d8f3dc
  );
}

/* LUMIÈRES */

.mentions::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;

  background: radial-gradient(circle, #a3b18a 0%, transparent 70%);
  top: -150px;
  right: -150px;

  filter: blur(80px);
  opacity: 0.5;
}

.mentions::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;

  background: radial-gradient(circle, #d8f3dc 0%, transparent 70%);
  bottom: -150px;
  left: -150px;

  filter: blur(100px);
  opacity: 0.6;
}

/* CONTENT */

.mentions .container {
  position: relative;
  z-index: 2;
}

/* TITRES */

.mentions h1 {
  margin-bottom: 40px;
  color: #344e41;
}

.mentions h3 {
  margin-top: 30px;
  color: #3a7d44;
}

/* TEXTE */

.mentions p {
  color: #588157;
  line-height: 1.6;
}

/* LIENS */

.mentions a {
  color: #3a7d44;
  text-decoration: none;
}

.mentions a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {

  .mentions {
    padding: 100px 20px;
  }

  .mentions h1 {
    font-size: 1.8rem;
  }
}