/* ===== BASE ===== */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: 0.3s;
}

/* TOP */

.navbar-top {
  background: transparent;
}

/* SCROLL */

.navbar-scrolled {
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

/* CONTAINER */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

/* LOGO */

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3a7d44;
  text-decoration: none;
}

/* ===== MENU DESKTOP ===== */

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #344e41;
  font-weight: 500;
}

/* CONTACT */

.contact-btn {
  background: #3a7d44;
  color: white !important;
  padding: 8px 18px;
  border-radius: 25px;
}

/* ===== BURGER ===== */

.burger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #344e41;
}

/* ===== MOBILE ===== */

@media (max-width: 768px) {

  .burger {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;

    background: white;

    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px 0;

    transform: translateY(-200%);
    transition: 0.3s;
  }

  .nav-menu.active {
    transform: translateY(0);
  }

  .nav-menu a {
    font-size: 1.2rem;
  }

  .contact-btn {
    margin-top: 10px;
  }
}